@import "tailwindcss";

html,body{
  height: 100%;
  width: 100%;
}
/* *{
  color: #fff;
} */

body{
  background-color: black;
}

#tasklist::-webkit-scrollbar{
  display: none;
}
#task::-webkit-scrollbar{
  display: none;
}